.message
  .text-message
    .text-message__user-name
      = messages.user.name
    .text-message__date
      = messages.created_at.strftime("%Y/%m/%d %H:%M")
  .image-meesage
    - if messages.content.present?
      %p.image-message__content
        = messages.content
    = image_tag messages.image.url, class: 'image-message__image' if messages.image.present?

 