.notification {
  .notice{
    background-color: $light_blue;
    color: $white;
    text-emphasis: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-emphasis: center;
  }
}